body {
  color: #303030;
  background-color: #fafafa;
  font-family: "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3 {
  color: indigo;
  font-family: "Georgia", "Times", serif;
  font-weight: 700;
}

h1 {
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: darkcyan;
  text-decoration: none;
}

nav {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}

footer {
  background-color: #3C2A4A;
  color: #ffffff;
}

footer p {
  font-size: 14px;
  text-align: center;
}